In [1]:
import pandas as pd
import numpy as np
import sklearn 
import matplotlib .pyplot as ply
from sklearn.model_selection import train_test_split

In [2]:
# convert the csv into a dataframe.

df = pd.read_csv("spaceship-titanic/train.csv")
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
# Data Cleaning and preProcessing

df = df.drop(["Name","Cabin"],axis="columns")

In [4]:
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [5]:
df['Destination'].describe()

count            8511
unique              3
top       TRAPPIST-1e
freq             5915
Name: Destination, dtype: object

In [6]:
df.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [7]:
df['Age']=df['Age'].fillna(df['Age'].mean())
df['VIP']=df['VIP'].fillna(df['VIP'].median())
df['RoomService']=df['RoomService'].fillna(0)
df['FoodCourt']=df['FoodCourt'].fillna(0)
df['ShoppingMall']=df['ShoppingMall'].fillna(0)
df['Spa']=df['Spa'].fillna(0)
df['VRDeck']=df['VRDeck'].fillna(0)
df['HomePlanet']=df['HomePlanet'].fillna('Earth')
df['Destination']=df['Destination'].fillna('TRAPPIST-1e')

In [8]:
df.isna().sum()

PassengerId       0
HomePlanet        0
CryoSleep       217
Destination       0
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Transported       0
dtype: int64

In [9]:
df=df.dropna()

In [10]:
df.shape

(8476, 12)

In [11]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['HomePlanet']=encoder.fit_transform(df['HomePlanet'])

In [12]:
df['CryoSleep']=df['CryoSleep'].apply(lambda x: 1 if x==True else 0)

In [13]:
df['Destination']=encoder.fit_transform(df['Destination'])

In [14]:
df['VIP']= df['VIP'].apply(lambda x: 1 if x==True else 0)

In [15]:
df.head(5)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,True

In [16]:
target=df['Transported'].apply(lambda x:1 if x==True else 0)

In [17]:
df=df.drop(['Transported'],axis='columns')
df=df.drop(['PassengerId'],axis='columns')

In [18]:
df.isna().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [19]:
df.head(5)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0

In [20]:
#X_train,X_test,y_train,y_test=train_test_split(df,target,train_size=0.8)

## SVM

In [21]:
from sklearn.svm import SVC
model1=SVC()

In [22]:
model1.fit(df,target)

SVC()

In [23]:
#model.score(X_test,y_test)

## Random Forest

In [24]:
#from sklearn.ensemble import RandomForestClassifier
#model = RandomForestClassifier( n_estimators=60,criterion='entropy')

#model.fit(X_train,y_train)

In [25]:
#model.score(X_test,y_test)

## KNN

In [26]:
#from sklearn.neighbors import KNeighborsClassifier
#model=KNeighborsClassifier(n_neighbors=10,metric='euclidean')
#model.fit(X_train,y_train)

In [27]:
#model.score(X_test,y_test)

## Navie Bayes

In [28]:
#from sklearn.naive_bayes import MultinomialNB
#model=MultinomialNB()

#model.fit(X_train,y_train)

In [29]:
#model.score(X_test,y_test)

## Regression

In [30]:
#from sklearn.linear_model import LogisticRegression
#model=LogisticRegression()
#model.fit(X_train,y_train)

In [31]:
#model.score(X_test,y_test)

In [32]:
#from sklearn.ensemble import RandomForestClassifier
#model = RandomForestClassifier( n_estimators=50,criterion='entropy')

#model.fit(df,target)

In [33]:
#import the testing dataset

df1 = pd.read_csv('spaceship-titanic/test.csv')
df1.head(5)
df1.shape

(4277, 13)

In [34]:
# Data Cleaning and preProcessing

df1 = df1.drop(["Name","Cabin"],axis="columns")
df1.head(5)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,Earth,True,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0
1,0018_01,Earth,False,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0
2,0019_01,Europa,True,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0
3,0021_01,Europa,False,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0
4,0023_01,Earth,False,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0

In [35]:
df1.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
dtype: int64

In [36]:
df1['Age']=df1['Age'].fillna(df1['Age'].mean())
df1['VIP']=df1['VIP'].fillna(df1['VIP'].median())
df1['RoomService']=df1['RoomService'].fillna(0)
df1['FoodCourt']=df1['FoodCourt'].fillna(0)
df1['ShoppingMall']=df1['ShoppingMall'].fillna(0)
df1['Spa']=df1['Spa'].fillna(0)
df1['VRDeck']=df1['VRDeck'].fillna(0)
df1['HomePlanet']=df1['HomePlanet'].fillna('Earth')
df1['Destination']=df1['Destination'].fillna('TRAPPIST-1e')
df1.isna().sum()

PassengerId      0
HomePlanet       0
CryoSleep       93
Destination      0
Age              0
VIP              0
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
dtype: int64

In [37]:
#df1=df1.dropna()
df1['HomePlanet']=encoder.fit_transform(df1['HomePlanet'])

In [38]:
df1['CryoSleep']=df1['CryoSleep'].apply(lambda x: 1 if x==True else 0)

In [39]:
df1['Destination']=encoder.fit_transform(df1['Destination'])

In [40]:
df1.shape

(4277, 11)

In [41]:
df1.isna().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [42]:
d = pd.DataFrame(df1['PassengerId'],columns=["PassengerId"])  
df1=df1.drop(['PassengerId'],axis='columns')
d.head(10)

  PassengerId
0     0013_01
1     0018_01
2     0019_01
3     0021_01
4     0023_01
5     0027_01
6     0029_01
7     0032_01
8     0032_02
9     0033_01

In [43]:
arr=model1.predict(df1)
arr

array([1, 0, 1, ..., 1, 1, 1])

In [44]:
d["Transported"]=arr

In [45]:
d.shape

(4277, 2)

In [46]:
d.head(20)

   PassengerId  Transported
0      0013_01            1
1      0018_01            0
2      0019_01            1
3      0021_01            1
4      0023_01            1
5      0027_01            1
6      0029_01            1
7      0032_01            1
8      0032_02            1
9      0033_01            1
10     0037_01            0
11     0040_01            0
12     0040_02            1
13     0042_01            1
14     0046_01            0
15     0046_02            0
16     0046_03            0
17     0047_01            1
18     0047_02            1
19     0047_03            0

In [47]:
d.to_csv('Submission.csv',index=False )